.macos-dock {
    position: absolute;
    left: 50%;
    bottom: 24px;
    transform: translateX(-50%);
    border-radius: 18px;
    min-width: 300px;
    min-height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 24px;
    z-index: 20;
    backdrop-filter: blur(10px);
    border: 1px solid #70707040;
} 