.windows {
    position: absolute;
    top: 32px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    z-index: 5;
    overflow: hidden;

    .window {
        position: absolute;
        box-shadow: 0 8px 32px rgba(0,0,0,0.18);
        border-radius: 10px;
        background: #2f2f2f;
        z-index: 100;
        display: flex;
        flex-direction: column;
        color: white;
        transition: opacity 0.3s cubic-bezier(.4,0,.2,1), transform 0.3s cubic-bezier(.4,0,.2,1);
        overflow: hidden;

        .titlebar {
            display: flex;
            align-items: center;
            padding: 6px 12px;
            width: 100%;
            box-sizing: border-box;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            background: #2f2f2f;
            border-bottom: 1px solid #515151;
            color: rgb(222, 222, 222);
            font-weight: 600;
            font-size: 14px;
        }
    }

    .window-closing {
        opacity: 0;
        transform: scale(0.85);
        pointer-events: none;
    }
}