#main > #windows {
    position: relative;
    z-index: 2;

    /*noinspection CssUnusedSymbol*/

    > .window {
        position: absolute;
        background-color: white;
        color: black;
        display: flex;
        flex-direction: column;
        box-shadow: 5px 5px 5px 5px rgba(22, 22, 22, 0.404);
        transition: width, height 0.1s ease-in-out;
        min-width: 150px;
        min-height: 40px;

        /* Resizers (sides) */
        .resizer_up {
            position: absolute;
            top: -5px;
            left: 0;
            height: 5px;
            width: 100%;
            cursor: var(--cur-n-resize);
        }

        .resizer_bottom {
            position: absolute;
            bottom: -5px;
            left: 0;
            height: 5px;
            width: 100%;
            cursor: var(--cur-s-resize);
        }

        .resizer_left {
            position: absolute;
            top: 0;
            left: -5px;
            height: 100%;
            width: 5px;
            cursor: var(--cur-w-resize);
        }

        .resizer_right {
            position: absolute;
            top: 0;
            right: -5px;
            height: 100%;
            width: 5px;
            cursor: var(--cur-e-resize);
        }

        /* Resizers (corners) */
        .resizer_up_left {
            position: absolute;
            top: -5px;
            left: -5px;
            height: 5px;
            width: 5px;
            cursor: var(--cur-nwse-resize);
        }

        .resizer_up_right {
            position: absolute;
            top: -5px;
            right: -5px;
            height: 5px;
            width: 5px;
            cursor: var(--cur-nesw-resize);
        }

        .resizer_bottom_left {
            position: absolute;
            bottom: -5px;
            left: -5px;
            height: 5px;
            width: 5px;
            cursor: var(--cur-nesw-resize);
        }

        .resizer_bottom_right {
            position: absolute;
            bottom: -5px;
            right: -5px;
            height: 5px;
            width: 5px;
            cursor: var(--cur-nwse-resize);
        }

        /* Frame */
        .frame {
            border-bottom: 2px solid rgb(206, 206, 206);
            height: 37px;
            width: 100%;

            display: flex;
            align-items: center;
            flex: 0 1 37px;

            .left {
                position: absolute;
                left: 0;

                display: flex;
                flex-direction: inherit;

                /* Icon & title */
                .icon_img {
                    margin-left: 5px;
                    height: 25px !important;
                    width: 25px !important;
                }

                .title {
                    display: flex;
                    padding-left: 5px;
                    padding-right: 5px;
                    align-items: center;
                    color: rgb(105, 105, 105);
                }
            }

            .right {
                position: absolute;
                right: 0;
                display: flex;
                flex-direction: inherit;

                /* Window buttons */
                .minimize {
                    background-image: url('../../../Resources/Icons/Window/minimize_light.png');
                    background-size: cover;
                    height: 36px;
                    width: 50px;
                    transition: background-image 0.1s ease-in-out;
                }

                .minimize:hover {
                    background-image: url('../../../Resources/Icons/Window/minimize_light_hover.png');
                }

                .restore {
                    background-image: url('../../../Resources/Icons/Window/restore_light.png');
                    background-size: cover;
                    height: 36px;
                    width: 50px;
                    transition: background-image 0.1s ease-in-out;
                    display: none;
                }

                .restore:hover {
                    background-image: url('../../../Resources/Icons/Window/restore_light_hover.png');
                }

                .maximize {
                    background-image: url('../../../Resources/Icons/Window/maximize_light.png');
                    background-size: cover;
                    height: 36px;
                    width: 50px;
                    transition: background-image 0.1s ease-in-out;
                }

                .maximize:hover {
                    background-image: url('../../../Resources/Icons/Window/maximize_light_hover.png');
                }

                .close {
                    background-image: url('../../../Resources/Icons/Window/close_light.png');
                    background-size: cover;
                    height: 36px;
                    width: 50px;
                    transition: background-image 0.1s ease-in-out;
                }

                .close:hover {
                    background-image: url('../../../Resources/Icons/Window/close_hover.png');
                }
            }
        }

        /* Content */
        > .content {
            flex: 1 0 auto;
            position: relative;

            iframe {
                border: none;
                height: 100%;
                width: 100%;
            }
        }

        /*noinspection CssUnusedSymbol*/

        > .content.icon_text_dialog {
            display: flex;
            align-items: center;
            position: relative;

            .icon_img {
                width: 64px;
                max-width: 64px;
                height: 64px;
                max-height: 64px;
                margin: 10px;
                flex: 1 0 64px;
            }

            /*noinspection CssUnusedSymbol*/

            .message {
                padding-left: 20px;
                padding-right: 10px;
                flex: 0 1 auto;
            }

            /*noinspection CssUnusedSymbol*/

            .actions {
                position: absolute;
                right: 0;
                bottom: 0;
                margin: 5px;
                gap: 5px;
                background-color: inherit;
                display: flex;
                align-items: center;
                flex-direction: row;

                /*noinspection CssUnusedSymbol*/

                button.action {
                    height: 25px;
                    width: auto;
                    border: 1px solid #b7b7b7;
                    background-color: #e1e1e1;
                    color: black;
                    /* transition: background-color, border 0.1s ease-in-out; */
                    outline: none;
                }

                /*noinspection CssUnusedSymbol*/

                button.action:focus, button.action:focus-visible, button.action:focus-within {
                    outline: none;
                    border-color: #0068d7;
                    border-width: 2px;
                }

                /*noinspection CssUnusedSymbol*/

                button.action:hover {
                    outline: black dashed 1px;
                    outline-offset: -1px;
                }
            }
        }
    }

    /* Focused window */
    > .window.focused > .frame .title {
        color: black !important;
    }

    /* Close & open animations */
    /*noinspection CssUnusedSymbol*/

    > .window.closing {
        animation: close 0.25s;
        animation-fill-mode: forwards;
    }

    /*noinspection CssUnusedSymbol*/

    > .window.opening {
        animation: open 0.25s;
        animation-fill-mode: forwards;
    }

    /* > .window.minimizing {
        animation: minimize 0.5s;
        animation-fill-mode: forwards;
    } */
}

@keyframes close {
    0% {
        opacity: 100%;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(0.6);
    }
}

@keyframes open {
    0% {
        opacity: 0;
        transform: scale(0.6);
    }

    100% {
        opacity: 100%;
        transform: scale(1);
    }
}

/* @keyframes minimize {
    0% {
        transform: scale(1);
        opacity: 100%;
    }

    100% {
        transform: scale(0.3);
        opacity: 0%;
        top: calc(100vh - 100px);
    }
} */