@font-face {
    font-family: 'Segoe UI Boot Semilight';
    src: url('fonts/segoe_slboot.ttf') format('truetype'),
    url('fonts/segoe_slboot.woff') format('woff'),
    url('fonts/segoe_slboot.woff2') format('woff2');
}

#loading_screen {
    display: flex;
    align-items: center;
    justify-content: center;
}

#loading_screen .wrapper {
    height: revert;
    width: revert;

    display: flex;
    flex-direction: column;
    align-items: center;

    #splash {
        width: 150px;
        height: 150px;
    }

    span#spinner {
        margin-top: 100px;
        font-family: 'Segoe UI Boot Semilight';
        font-size: larger;
    }
}