.icon_img {
    background-image: url('../../Resources/Icons/file.ico');
    background-size: cover;
}

/* Shell */
.icon_img[data-type="trash_empty"] {
    background-image: url('../../Resources/Icons/trash_empty.ico');
}

.icon_img[data-type="trash_full"] {
    background-image: url('../../Resources/Icons/trash_full.ico');
}

.icon_img[data-type="application"] {
    background-image: url('../../Resources/Icons/application.ico');
}

.icon_img[data-type="folder"] {
    background-image: url('../../Resources/Icons/folder.ico');
}

.icon_img[data-type="file"] {
    background-image: url('../../Resources/Icons/file.ico');
}

.icon_img[data-type="error"] {
    background-image: url('../../Resources/Icons/error.ico');
}

.icon_img[data-type="warning"] {
    background-image: url('../../Resources/Icons/warning.ico');
}

.icon_img[data-type="error"] {
    background-image: url('../../Resources/Icons/error.ico');
}

.icon_img[data-type="info"] {
    background-image: url('../../Resources/Icons/info.ico');
}

.icon_img[data-type="question"] {
    background-image: url('../../Resources/Icons/question.ico');
}

.icon_img[data-type="checkmark"] {
    background-image: url('../../Resources/Icons/checkmark.png');
}

/* Apps */
.icon_img[data-type="command_prompt"], .icon_img[data-type="cmd"] {
    background-image: url("../../SystemJS/cmd/icon.ico");
}

.icon_img[data-type="minecraft"] {
    background-image: url("https://eaglercraft.com/img/game.png");
}

/* Blank */
.icon_img[data-type="none"] {
    background-image: none;
    visibility: hidden;
}