@import url("../Fonts/Segoe UI Boot/stylesheet.css");

#loading_screen {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: none;

    .wrapper {
        height: revert;
        width: revert;

        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: inherit;

        #splash {
            width: 150px;
            height: 150px;
            cursor: inherit;
        }

        span#spinner {
            margin-top: 100px;
            font-family: 'Segoe UI Boot Semilight', 'Segoe UI', sans-serif;
            font-size: larger;
            cursor: inherit;
        }
    }
}