.icon_img {
    background-image: url('../icons/file.ico');
    background-size: cover;
}

.icon_img[data-type="trash_empty"] {
    background-image: url('../icons/trash_empty.ico');
}

.icon_img[data-type="trash_full"] {
    background-image: url('../icons/trash_full.ico');
}

.icon_img[data-type="application"] {
    background-image: url('../icons/application.ico');
}

.icon_img[data-type="none"] {
    background-image: none;
    visibility: hidden;
}

#main {
    visibility: hidden;
    display: flex;
    flex-direction: column-reverse;
    flex-flow: column-reverse;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    #taskbar {
        position: absolute;
        bottom: 0;
        z-index: 100;
        height: 40px;
        width: 100%;
        border-top: 1px solid rgb(29, 29, 29);
        background-color: rgba(16, 16, 16, 0.747);
        backdrop-filter: blur(50px);
        flex: 0 1 40px;

        .left {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            display: flex;
            flex-direction: row;

            #start {
                background-image: url('start.png');
                background-size: cover;
                height: inherit;
                width: 48px;
                transition: background-color 0.1s ease-in-out;
            }

            #start:hover {
                background-color: #3d3d3d;
            }

            #tasks {
                display: flex;
                flex-direction: row;
                gap: 3px;
                height: inherit;
                width: auto;

                .task {
                    display: flex;
                    flex-direction: column;
                    width: 40px;
                    height: 40px;
                    position: relative;
                    transition: background-color 0.25s ease-in-out;

                    .icon_img {
                        margin: 5px;
                        width: calc(100% - 5px * 2);
                        height: calc(100% - 3px - 5px * 2);
                    }

                    .underline {
                        width: 100%;
                        height: 3px;
                        background-color: rgb(0, 136, 247);
                    }

                    .underline.inactive {
                        background-color: rgb(104, 104, 104);
                    }
                }

                .task.appear {
                    animation: icon_appear 0.25s;
                    animation-fill-mode: forwards;
                }

                .task.disappear {
                    animation: icon_disappear 0.25s;
                    animation-fill-mode: forwards;
                }

                .task:hover {
                    background-color: rgba(80, 80, 80, 0.5);
                }
            }
        }

        .right {
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
        }
    }

    #desktop {
        flex: 1 1 auto;
        position: relative;

        #wallpaper {
            z-index: 0;
            position: absolute;
            background-color: black;
            background-image: none;
            background-size: 100% 100%;
            height: 100vh;
            width: 100%;
        }

        #icons {
            z-index: 1;
            position: absolute;
            top: 0;
            left: 0;
            height: calc(100% - 40px);
            width: 100%;
            display: grid;
            /* grid-auto-columns: 100px;
            grid-auto-rows: 100px; */
            grid-template-columns: repeat(auto-fill, 100px);
            grid-template-rows: repeat(auto-fill, 100px);
            grid-auto-flow: column;
            gap: 5px;

            .icon {
                display: flex;
                flex-direction: column;
                align-items: center;

                .icon_img {
                    height: 50px;
                    width: 50px;
                    margin: 10px;
                }

                .icon_text {
                    color: white;
                }
            }

            .icon[data-type="none"] {
                visibility: hidden;
            }

            .icon:hover {
                background-color: rgba(12, 114, 231, 0.397);
                outline: 2px solid rgba(6, 100, 240, 0.651);
                outline-offset: -2px;
            }
        }
    }
}

@keyframes icon_appear {
    0% {
        opacity: 0%;
        transform: translateX(20px);
        width: 1px;
    }

    100% {
        opacity: 100%;
        transform: translateX(0);
        width: 40px;
    }
}

@keyframes icon_disappear {
    0% {
        opacity: 100%;
        transform: translateX(0);
        width: 40px;
    }

    100% {
        opacity: 0%;
        transform: translateX(20px);
        width: 1px;
    }
}